.container {
  /*перебросил класс наверх */
  max-width: 55em;
}

.av1 {
  width: 73%;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 3px 2px 20px -1px rgba(0, 128, 128, 0.3);
  padding: 0.2em;
  margin-bottom: 0.5rem;
}

.navBg {
  background-color: #f9f9f9;
  border-radius: 5px;
  /* height: 2.5rem; */
}

.p111 {
  width: 70px;
}

.av1-2 {
  width: 14em;
  border-radius: 1em;
  box-shadow: 6px 8px 20px 0px rgba(0, 0, 0, 0.5);
  padding: 0.1em;
}

.h2 {
  margin: 0.6em 0em 1.5em;
}

.underName {
  margin-left: 0.14em;
}

/* .cardSize {
  width: auto;
  min-width: 15rem;
  max-width: 25rem;
} */

.card {
  background-color: #eeeeee;
  /* text-align: center; */
  border-radius: 0.6em;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card h5 {
  text-align: center;
}

.card img {
  /* padding: 0.1em; */
  border-radius: 0.5em 0.5em 0em 0em;
}

#expInTs {
  /* font-weight: bold; */
  font-size: 1.1em;
}

.cntctSize {
  width: 26px;
  height: 26px;
}

.cntctColor {
  color: green;
  border-color: #2f7f37;
}

.btn-outline-secondary:hover {
  background-color: #43b74f;
  border-color: #43b74f;
}

.btn-outline-primary:hover {
  background-color: #3568ff;
}
