@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  background-color: #F0F6FF;
  color: #00160B;

  font: normal 16px 'Roboto', 'Calibri';
  /* font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', 'Calibri'; */
}

.container {
  max-width: 80%;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: green;
}

a:visited {
  color: #3D4F6C;
}

.photos {
  width: 250px;
  border-radius: 27px;
  box-shadow: 6px 8px 20px 0px rgba(0, 0, 0, 0.5);
}

#p131 {
  width: 60%;
}

.block1 p {
  color: #4F5358;
  margin: 0;
  font-style: italic;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* letter-spacing: 10px; */
  /* word-spacing: 20px; */
}

.block1 {
  margin-bottom: 20px;
}

.block1-1 {
  display: flex;
}

.block1-2 {
  margin-left: 50px;
}

.block1-2 h1 {
  margin-top: 20px;
}

#expInTs {
  font-weight: bold;
  margin-top: 15px;

}

.card {
  padding: 5px 50px 30px 50px;
  margin-bottom: 0px;
  border-radius: 20px;
}

.bg-FloralWhite {
  background: #FFFAF0
}

.bg-Lavender {
  background: #E6E6FA
}

.bg-C7FFD6 {
  background: #C7FFD6
}

.bg-FFFCC3 {
  background: #FFFCC3
}


.container hr {
  margin: 15px 50px;
}

.hobby {
  margin-bottom: auto;
  /* padding-left: 50px; */
}

.hobby li {
  color: #040026;
  margin-bottom: 5px;
}

.exp {
  width: 100%;
}

.exp td {
  padding-bottom: 5px;
  padding-right: 30px;
}

.exp td:nth-child(2) {
  color: #4F5358;
}

.formContact label {
  display: block;
  font-size: 14px;
  padding: 15px 0px 2px;
}

.formContact input,
.formContact textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 10px 7px 7px;
  border-radius: 3px;
  margin-left: 10px;
  outline: none;
  font-family: inherit;
}

.contact h4 {
  text-align: center;
}

.formRB label {
  font-size: 14px;
  padding: 15px 0px 2px;
  cursor: pointer;
}

.formRB input {
  box-sizing: border-box;
  margin-left: 10px;
  margin: 30px 40px 10px 0px;
  cursor: pointer;
}

.sendButton {
  margin-top: 20px;
  text-align: right;
  margin-right: 40px;
}

.sendButton1-1 {
  background: #7CE19D;
  color: #008B2F;
  border-radius: 15px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  font-family: inherit;
  cursor: pointer;
}

.sendButton1-1:hover {
  opacity: 0.8;
}

.contactMail {
  margin-top: 30px;
  padding: 2%;
  cursor: pointer;
}

.contactMail summary:hover {
  opacity: 0.8;
}

.contactMail a {
 line-height: 50px;
 margin-left: 30px;
 text-decoration: none;
}

.contactMail a:hover {
  opacity: 0.8;
}

#p141 {
  width: 18px;
  margin-left: 10px;
}

.row {
  display: flex;
}

.row > .formContact {
  margin-right: 20px;
}

/* .exp tr:nth-child(even) {
  background: #F7F7FD;
} */



/* Box model */

/* .links {
  background: green;
  /* padding: 10px; */
  /* padding: 10px 20px 30px 40px;
  border: 2px solid darkgray;
  border-bottom-style: dashed;
  border-top-width: 3px;
  border-right-color: #000;
  margin: 10px;
} */



/* .box-model >  div { /* > только дочерние будут применять стили
  float: left;
  background: #000;
  height: 200px;
  width: 25%;
  border: 5px solid green;
  box-sizing: border-box;
} */
