@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  background-color: #F0F6FF;
  color: #00160B;

  font: normal 16px 'Roboto', 'Calibri';
  /* font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', 'Calibri'; */
}

.container {
  max-width: 80%;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: green;
}

/* a:visited {
  color: gray;
}*/

.img121 {
  width: 250px;
  border-radius: 27px;
  box-shadow: 6px 8px 20px 0px rgba(0, 0, 0, 0.5);

}

.block1 p {
  color: #4F5358;
  margin: 0;
  font-style: italic;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* letter-spacing: 10px; */
  /* word-spacing: 20px; */
}

.block1 {
  margin-bottom: 20px;
}

#expInTs {
  font-weight: bold;

}

.card {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.bg-FloralWhite {
  background: #FFFAF0
}

.bg-Lavender {
  background: #E6E6FA
}

.bg-C7FFD6 {
  background: #C7FFD6
}


/* Box model */

/* .links {
  background: green;
  /* padding: 10px; */
  /* padding: 10px 20px 30px 40px;
  border: 2px solid darkgray;
  border-bottom-style: dashed;
  border-top-width: 3px;
  border-right-color: #000;
  margin: 10px;
} */



/* .box-model >  div { /* > только дочерние будут применять стили
  float: left;
  background: #000;
  height: 200px;
  width: 25%;
  border: 5px solid green;
  box-sizing: border-box;
} */
